.login-img {
  object-fit: cover;
  object-position: left;
}

.login-form {
  width: 30rem;
  margin: auto;
}

.h3-header {
  letter-spacing: 1px;
  text-align: center;
}

.p-login {
  text-align: center;
  font-size: 20px;
}
.login-page {
  margin-top: 2.5em;
  height: 100% !important;
}
.logo-image-div {
  margin-top: 2.5em;
  text-align: center;
}

.logo-image {
  width: 450px;
  height: 100px;
}

.error-msg {
  color: red;
  font-size: 15px;
}

.credential-msg {
  color: red;
  font-size: 20px;
  text-align: center;
}
